.cmdIcon {
    font-size: 1.5rem;
    color: rgb(0, 87, 204);
    margin-right: 8px;
    cursor: pointer;
    text-decoration: none;
}

    .cmdIcon:hover {
        color: rgb(103, 165, 247);
    }

.menuIcon {
    font-size: 1.2rem;
    text-align: center;
    color: darkgray;
}
.headerMenu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    height: 50px; 
}

    .headerMenu a {
        text-decoration: none;
    }

.pageTitle {
    font-size: 1.5em;
    text-align: left;
    font-weight:bold;
}
.menu {
    display: flex;
    gap: 10px; 
    align-items: center;
}
.siteIcon {
    background-image: URL('../WebApp.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 2.5em;
    height: 2.5em;
}

.item-layout {
    display: grid !important;
    grid-template-columns: 40px auto !important;
    align-items: center;
    cursor:pointer;
}

.flex {
    display: flex;
    gap: 6px;
}
.flexItem {
    flex:1;
}
.UserSmallAvatar {
    width: 35px !important;
    height: 35px !important;
    border-radius: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid #ccc;
    flex-shrink: 0;
}