@model Models.Media
@{ ViewBag.PageTitle = "Détails"; }

<div id="detailsContainer"></div>

@section Scripts {
    <script src="~/Scripts/autoRefreshPanel.js"></script>
    <script>
        let detailsPanel = new AutoRefreshedPanel("detailsContainer", "/Medias/GetMediaDetails/@Model.Id", 15);
    </script>
}