@{ ViewBag.PageTitle = "Wikimedia"; }

@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger alert-dismissible fade show" role="alert" style="margin-bottom: 20px; font-weight: bold;">
        <i class="fa fa-exclamation-triangle"></i> @TempData["ErrorMessage"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}
@if (Session["Search"] != null && (bool)Session["Search"])
{
    <div class="searchBar">
        <div class="searchContainer">
            <input type="search"
                   id="searchInput"
                   class="form-control"
                   placeholder="Recherche..."
                   value="@Session["SearchString"]" />
        </div>
        <div id="categorySelectPanel">
        </div>
    </div>
    <hr />
}

<div id="mediasContainer" class="mediaListLayout">
</div>

@section Scripts {
    <script>
        $(() => {
            let mediasListAutoRefreshPanel =
                new AutoRefreshedPanel(
                    "mediasContainer",
                    "/Medias/GetMedias",
                    5,
                    mediasListPostRefresh);

            let categoriesSelectAutoRefreshPanel =
                new AutoRefreshedPanel(
                    "categorySelectPanel",
                    "/Medias/GetMediasCategoriesList",
                    -1,
                    categoriesSelectPostRefresh);

            let keywordsOnchangeTimer = null;

            $(document).on('keyup', "#searchInput", function () {
                clearTimeout(keywordsOnchangeTimer);
                keywordsOnchangeTimer = setTimeout(() => {
                    window.location = "/Medias/SetSearchString?value=" + $("#searchInput").val();
                }, 1000);
            });

            $(document).on('search', "#searchInput", function () {
                clearTimeout(keywordsOnchangeTimer);
                window.location = "/Medias/SetSearchString?value=" + $("#searchInput").val();
            });

            function mediasListPostRefresh() {
                categoriesSelectAutoRefreshPanel.refresh(true);
            }

            function categoriesSelectPostRefresh() {
                $("#categorySelect").on('change', function () {
                    window.location = "/Medias/SetSearchCategory?value=" + $("#categorySelect").val();
                });
            }
        })
    </script>
}